<h1>Artist Show Page!!</h1>


<p><%= @artist.name %></p><br>
<p><%= @artist.title %></p><br>
<p><%= @artist.age %></p><br><br>


<% @artist.instruments.each do |instr| %>
    <li><p><%= instr.name %></p></li>
    <% end %>


